*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

img{
    height: 165px;
    width: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#my-image{
    height: 330px;
    width: 310px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li{
    display: inline ;
    font-size: 50px;
    font-weight: bold;
}

#home{
    height: 570px;
}

#hobbies{
    height: 520px;
}

#contact{
    height: 570px;
}

a{
    margin-right: 10px;
}

.icons{
    display: inline-block;
}

